.calc {
    &__up {
        width: fit-content;
        display: flex;
        gap: 10px;
        position: relative;
        &:hover {
            color: #dddddd;
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        opacity: 0.3;
        transition: all ease-out 0.3s;
        &__mark {
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            color: black;
            font-size: 14px;
            position: relative;
            content: "?";
            font-size: 14px;
            background-color: #cdcdcd;
            border-radius: 50%;
            font-weight: 800;
            transform: translate(-50%, -50%);
            position: absolute;
            right: -45px;
            bottom: -5px;
            user-select: none;
        }

        .tooltiptext {
            visibility: hidden;
            width: 250px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 15px;
        }

        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }

    &:hover {
        .tooltip {
            opacity: 1;
        }
    }
    &__mark {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid #555;
        transition: all ease-out 0.3s;
        border-radius: 1px;
        position: absolute;
        top: 10px;
        right: -15px;
        cursor: pointer;
    }
    &:hover .calc__mark {
        border-bottom-color: #cdcdcd;
    }
    &__method {
        height: 0px;
        overflow: hidden;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in;
        color: #aaaaaa;
    }
    &__active {
        padding-top: 10px;
        padding-bottom: 15px;
        height: 70px !important;
    }
    &__rotate {
        transform: rotate(180deg);
    }
}
